* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'chiller';
    src: url(../tipog/chiller.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lucida';
    src: url(../tipog/Lucida\ Handwriting\ Italic.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    
}



.navegacion {
    background-color: #9B5BA7;
    
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100px;
    justify-content: space-around;
    font-weight: 600;
    
}

.menu > .lista {
    position: relative;
    background-color: #C192CC;
    border-radius: 15px; 
    padding: 15px; 
    margin: 25px; /* Ajustamos el margen para separar las cajas */
}

.menu > .lista > a {
    display: block;
    color: white;
    text-decoration: none;
}

.menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 128px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 15px;
    color: #9B5BA7;
    transform: translate(20px, 20px);
    z-index: 1000; /* Asegura que la paginación esté por encima de otros elementos */

}

.menu .submenu::before {
    content: '';
    position: absolute;
    top: -29px;
    left: 2.9px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.menu .lista:hover .submenu {
    display: block;
}

.submenu li {
    margin: 18px 0;
}
.submenu li a {
    color: #9B5BA7;
    text-decoration: none;
}
.submenu li svg {
    width: 60px;
    height: 50px;
    color: #9B5BA7;
    display: block;
    margin: 0 auto; /* Centra el SVG horizontalmente */
}

.menu .submenu br {
    display: flex;
    justify-content: center;
}
.menu .submenu img {
    width: 28px; 
    height: 28px; 
    margin-right: 25px; /* Espacio entre las imágenes */
    vertical-align: middle;
}

.menu .submenu .social {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 10px;
}

.buscar form {
    position: relative;
    display: flex;
    align-items: center;
    top: 30px;
}
.buscar input[type="text"] {
    width: 280%;
    padding: 10px 155px 10px 30px;
    border: 1px solid #fffefe;
    border-radius: 8px;
    background-color: rgba(250, 246, 246, 0.918);
    font-weight: 600;
}
.buscar input[type="text"]::placeholder {
    color: #9B5BA7; 
    font-size: 15px;
}

.buscar button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buscar button svg {
    fill: rgb(133, 9, 248);
    width: 20px;
    height: 20px;
}
/* Estilos para la sección de bienvenida */
section {
    margin: 20px;
    padding: 20px;
    width: 200px;
    justify-content: center;
    border-radius: 8px;
    background-color: #efefef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

section p {
    font-size: 18px;
    color: #555;
}

section a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #d49ee0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

section a:hover {
    background-color: #9B5BA7;
}
.imagen {
    z-index: -1;
    position: fixed;
    margin-top: auto; 
}

.imagen img {
    width: 100%;
    height: auto;/
}