* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'chiller';
    src: url(../tipog/chiller.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lucida';
    src: url(../tipog/Lucida\ Handwriting\ Italic.ttf);
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(../img/Portada\ web.jpg);
    background-size: cover ;
    font-family: 'lucida';
    margin: 0;
    padding: 0;
}


.navegacion {
    background-color: #9B5BA7;
    
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100px;
    justify-content: space-around;
    font-weight: 600;
    
}

.menu > .lista {
    position: relative;
    background-color: #C192CC;
    border-radius: 15px; 
    padding: 15px; 
    margin: 25px; /* Ajustamos el margen para separar las cajas */
}

.menu > .lista > a {
    display: block;
    color: white;
    text-decoration: none;
}

.menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 128px;
    background-color: rgb(255, 255, 255);
    list-style: none;
    padding: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 15px;
    color: #9B5BA7;
    transform: translate(20px, 20px);
    z-index: 1000; /* Asegura que la paginación esté por encima de otros elementos */

}

.menu .submenu::before {
    content: '';
    position: absolute;
    top: -29px;
    left: 2.9px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.menu .lista:hover .submenu {
    display: block;
}

.submenu li {
    margin: 18px 0;
}
.submenu li a {
    color: #9B5BA7;
    text-decoration: none;
}
.submenu li svg {
    width: 60px;
    height: 50px;
    color: #9B5BA7;
    display: block;
    margin: 0 auto; /* Centra el SVG horizontalmente */
}

.menu .submenu br {
    display: flex;
    justify-content: center;
}
.menu .submenu img {
    width: 28px; 
    height: 28px; 
    margin-right: 25px; /* Espacio entre las imágenes */
    vertical-align: middle;
}

.menu .submenu .social {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 10px;
}

.buscar form {
    position: relative;
    display: flex;
    align-items: center;
    top: 30px;
}
.buscar input[type="text"] {
    width: 280%;
    padding: 10px 155px 10px 30px;
    border: 1px solid #fffefe;
    border-radius: 8px;
    background-color: rgba(250, 246, 246, 0.918);
    font-family: 'lucida';
    font-weight: 600;
}
.buscar input[type="text"]::placeholder {
    color: #9B5BA7; 
    font-family: 'lucida'; /* Asegura que el placeholder use la misma fuente */
    font-size: 15px;
}

.buscar button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buscar button svg {
    fill: rgb(133, 9, 248);
    width: 20px;
    height: 20px;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}




/*iniciio sesion /////////////////////////////////*/
.sesion {
    background-color: #fcfbfbe0;
    padding: 60px;
    border-radius: 5px;
    max-width: 800px;
    height: 553px;
}

.sesion h2 {
    text-align: center;
    margin-bottom: 15px;
    font-family: 'lucida';
    color: #9B5BA7;
}

.sesion .email {
    padding: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 15px;
}

.sesion .email label {
    padding: 20px;
    font-family: 'lucida';
    color: #9B5BA7;
    margin-bottom: 5px;
    align-self: center;
    font-weight: 600;

}

.sesion .email input {
    padding: 10px;
    border: 3px solid #9B5BA7;
    border-radius: 10px;
    font-family: 'lucida';
    margin-bottom: 15px;
    font-weight: 600;

}

.sesion .registro-social {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;

}

.sesion .registro-social p {
    margin-bottom: 10px;
    font-family: 'lucida';
    color: #9B5BA7;
}

.sesion .registro-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: space-between;

}

.sesion .registro-social a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sesion .recordar {
    justify-content: center;
    margin-top: 30px;
    
}

.sesion .recordar {
    display: flex;
    font-weight: 600;

    margin-bottom: 15px;
}


.sesion .recordar input {
    margin-right: 50px;
    width: 16px;
}

.sesion .recordar label {
    color: #9B5BA7;
}

.sesion .boton{
    text-align: center;
}

.sesion .boton button {
    padding: 8px 40px;
    border: none;
    border-radius: 15px;
    background-color: #C192CC;
    color: #fff;
    font-family: 'lucida';
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    width: 45%; 
}



.sesion .acceso button:hover {
    background-color: #0056b3;
}

.sesion .registro{
    font-weight: 500;
    padding: 10px;
    text-align: center;
    color: #8f47be;
    text-decoration: none;
}
.sesion .registro a{
    
    color: #8f47be;
    text-decoration: none;
}
.sesion .registro a:hover {
    text-decoration: underline;
}


/*C192CC-9B5BA7 colores morados*/
