
.red{
	position: fixed;
	top: 300px;
	z-index: 100;
	right: 0;
}
#facebook a{
	background: #C192CC;
    border: 2px;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	width: 20px;
    border: 1px solid #9B5BA7; 
	transition: all .4s ease;
}
#facebook a:hover{
	background: #000;
	
}
#instagram a{
	background: #C192CC;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
	width: 20px;
    border: 1px solid #9B5BA7; 
	transition: all .4s ease;
}
#instagram a:hover{
	background: #000;
	

}
#whatsapp a{
	background: #C192CC;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
    border: 1px solid #9B5BA7; 
	width: 20px;
	transition: all .4s ease;
}
#whatsapp a:hover{
	background: #000;
	

}
#correo a{
	background: #C192CC;
	padding: 15px 30px;
	color: #fff;
	text-decoration: none;
    border: 1px solid #9B5BA7; 
	width: 20px;
	transition: all .4s ease;
}
#correo a:hover{
	background: #000;
	
}