* {
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(255, 251, 251); 
    margin: 0;
    padding: 0;
}

.navegacion {
    background-color: #9B5BA7;
    
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100px;
    justify-content: space-around;
    font-weight: 600;
    
}

.menu > .lista {
    position: relative;
    background-color: #C192CC;
    border-radius: 15px; 
    padding: 15px; 
    margin: 25px; 
}

.menu > .lista > a {
    display: block;
    color: white;
    text-decoration: none;
}

.menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 148px;
    background-color: white;
    list-style: none;
    padding: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 15px;
    color: #9B5BA7;
    transform: translate(20px, 20px);
    z-index: 1000; /* Asegura que  esté por encima de otros elementos */

}

.menu .submenu::before {
    content: '';
    position: absolute;
    top: -29px;
    left: 2.9px;
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
}

.menu .lista:hover .submenu {
    display: block;
}

.submenu li {
    margin: 18px 0;
}
.submenu li a {
    color: #9B5BA7;
    text-decoration: none;
}
.submenu li svg {
    width: 60px;
    height: 50px;
    color: #9B5BA7;
    display: block;
    margin: 0 auto; 
}

.menu .submenu br {
    display: flex;
    justify-content: center;
}
.menu .submenu img {
    width: 28px; 
    height: 28px; 
    margin-right: 25px; 
    vertical-align: middle;
}

.menu .submenu .social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.buscar form {
    position: relative;
    display: flex;
    align-items: center;
    top: 30px;
}
.buscar input[type="text"] {
    width: 280%;
    padding: 10px 155px 10px 30px;
    border: 1px solid #fffefe;
    border-radius: 8px;
    background-color: rgba(250, 246, 246, 0.918);
    font-weight: 600;
}
.buscar input[type="text"]::placeholder {
    color: #9B5BA7; 
    font-size: 15px;
}

.buscar button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buscar button svg {
    fill: rgb(133, 9, 248);
    width: 20px;
    height: 20px;
}


footer {
    background-color: #9B5BA7; 
    display: flex;
    position: relative;
    left: 50px;
    height:390px;
    width: 95%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.footer-background {
    background-color: #C192CC;
    width: 95%;
    height: 110%;
    padding: 40px;
    position: relative;
    top: -60px;
    right: 35px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.imagen-logo {
    flex: -2%;
    position: relative;
    top: -25px;
    left: -30px;
    display: flex;
    align-items: start;
}

.imagen-logo img {
    width: 240px;
    height: 200px;
}

.text1 {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    font-weight: 600;
}
.text1 a{
    color: inherit; /* Mantiene el color actual */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease;
}
.text1 a:hover {
    color: #e452fe; /* Cambia el color al pasar el mouse */
}
.text1 .h2{
    display: flex;
    top: -20px;
}
.text1 svg {
    width: 30px;
    height: 30px;
    color: aliceblue;
    margin-right: 10px;
}

.text1 p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.Redes1 {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    font-size: 20px;
    font-weight: 600;
}

.Redes1 p {
    display: flex;
    align-items: center;
    margin: 2px 0;
}
.Redes1 a {
    color: inherit; /* Mantiene el color actual */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease;
}

.Redes1 a:hover {
    color: #e452fe; /* Cambia el color al pasar el mouse */
}
.Redes1 svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
    flex-direction: row;
}



.imagenes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.imagenes img {
    max-width: 100px; /* Ajustar el tamaño de las imágenes */
    height: auto;
}
.imagenes .emprender,
.imagenes .presidencia {
    display: flex;
    justify-content: center;
}

.imagenes .presidencia img,
.imagenes .emprender img {
    max-width: 400px;
    height: 80px; /* Ajustar el tamaño para logos más grandes */
}


.seccion-en-blanco {
    height: 200px;
}
